{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block left_content %}
    <br>
    <div class="col-sm-9 col-xs-12 left_div text-center text-primary">
        <form method="POST" action="{{ url_for('new_passage') }}">
            <div class="form-group">
                {{ render_form(form) }}
            </div>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
    </div>
{% endblock %}

{% block right_content %}
    <div class="hidden-xs col-xs-3 text-primary">
        <div class="row">
            <div class="col-xs-12"><br>
                <h4>欢迎来到新建随记页面！</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><br>
                <small>你可以记下当下的感受、受启发的句子、自己的思考、自己的情绪、自己的心语等...</small>
            </div>
        </div>
    </div>
{% endblock %}