{% extends 'base.html' %}

{% block nav %}
    <div class="row bg-info nav_div">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{ url_for('home') }}">主页</a></li>
            <li role="presentation"><a href="https://github.com/Lns-XueFeng">GitHub</a></li>
            <li role="presentation"><a href="https://space.bilibili.com/471487676?spm_id_from=333.1007.0.0">B站</a></li>
            <li role="presentation"><a href="https://mp.weixin.qq.com/mp/homepage?__biz=Mzg5ODYxMTg0NA==&hid=1&sn=a17f28de8b7df5f0a72a6337d785913b&scene=18">公众号</a></li>
            <li role="presentation"><a href="https://learnku.com/users/77844">技术社区</a></li>
        </ul>
    </div>
{% endblock %}

{% block left_content %}
    <div class="col-sm-9 col-xs-12 left_div text-center">
        <br>
        <div class="row">
            <div class="col-xs-12">
                <img class="picture" src="static/images/ironman.jpg">
            </div>
        </div>
        <br>
    </div>
{% endblock %}
