{% extends 'base.html' %}

{% block nav %}
    <div class="row bg-info nav_div">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{ url_for('home') }}">返回</a></li>
            {% if current_user.is_authenticated %}
                <li role="presentation"><a href="{{ url_for('inner_passages') }}">随记</a></li>
                <li role="presentation"><a href="{{ url_for('new_passage') }}">新建</a></li>
                <li role="presentation"><a href="{{ url_for('logout') }}">登出</a></li>
            {% else %}
                <li role="presentation"><a href="{{ url_for('inner_passages') }}">随记</a></li>
                <li role="presentation"><a href="{{ url_for('login') }}">登录</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block left_content %}
    <div class="col-sm-9 col-xs-12 left_div">
        <br>
        <div class="row">
            <div class="col-xs-12 text-primary">
                <h4>派森相关：</h4>
                <small>以下是我写的一些关于Python的技术文章，点击以下链接会跳转到我的个人公众号！</small><br>
                <ul>
                    {% if PASSAGE_PY %}
                        {% for name, url in PASSAGE_PY.items() %}
                            <li><a href="{{ url }}">{{ name }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a href="#">暂未获取到相关信息，请重试！</a></li>
                    {% endif %}
                    {% if get_length(PASSAGE_PY) >= 10 %}
                        <li><a href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=Mzg5ODYxMTg0NA==&action=getalbum&album_id=2457108742094864388&scene=173&from_msgid=2247483958&from_itemidx=1&count=3&nolastread=1#wechat_redirect">更多原创文章请点击此链接查看</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 text-primary">
                <h4>网站开发：</h4>
                <small>以下是我写的一些关于Web开发的技术文章，点击以下链接会跳转到我的个人公众号！</small><br>
                <ul>
                    {% if PASSAGE_WEB %}
                        {% for name, url in PASSAGE_WEB.items() %}
                            <li><a href="{{ url }}">{{ name }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a href="#">暂未获取到相关信息，请重试！</a></li>
                    {% endif %}
                    {% if get_length(PASSAGE_WEB) >= 10 %}
                        <li><a href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=Mzg5ODYxMTg0NA==&action=getalbum&album_id=2886040672825442312&scene=173&from_msgid=2247484199&from_itemidx=1&count=3&nolastread=1#wechat_redirect">更多原创文章请点击此链接查看</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 text-primary">
                <h4>爬虫开发：</h4>
                <small>以下是我写的一些关于爬虫开发的技术文章，点击以下链接会跳转到我的个人公众号！</small><br>
                <ul>
                    {% if PASSAGE_SPIDER %}
                        {% for name, url in PASSAGE_SPIDER.items() %}
                            <li><a href="{{ url }}">{{ name }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a href="#">暂未获取到相关信息，请重试！</a></li>
                    {% endif %}
                    {% if get_length(PASSAGE_SPIDER) >= 10 %}
                        <li><a href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=Mzg5ODYxMTg0NA==&action=getalbum&album_id=2061865102428995584&subscene=159&subscene=19&scenenote=https%3A%2F%2Fmp.weixin.qq.com%2Fs%3F__biz%3DMzg5ODYxMTg0NA%3D%3D%26mid%3D2247484026%26idx%3D1%26sn%3Df1bbdd40af6ff2eb6a1d8fe7833250b7%26scene%3D19%23wechat_redirect&nolastread=1#wechat_redirect">更多原创文章请点击此链接查看</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 text-primary">
                <h4>生活杂谈：</h4>
                <small>以下是我写的一些关于个人思考的随笔文章，点击以下链接会跳转到我的个人公众号！</small><br>
                <ul>
                    {% if PASSAGE_DISCUSS %}
                        {% for name, url in PASSAGE_DISCUSS.items() %}
                            <li><a href="{{ url }}">{{ name }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a href="#">暂未获取到相关信息，请重试！</a></li>
                    {% endif %}
                    {% if get_length(PASSAGE_DISCUSS) >= 10 %}
                        <li><a href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=Mzg5ODYxMTg0NA==&action=getalbum&album_id=2173572752933257219#wechat_redirect">更多原创文章请点击此链接查看</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 text-primary">
                <h4>工作杂谈：</h4>
                <small>以下是我写的一些关于爆炸焊接的笔记文章，点击以下链接会跳转到我的个人公众号！</small><br>
                <ul>
                    {% if PASSAGE_WORK_DISCUSS %}
                        {% for name, url in PASSAGE_WORK_DISCUSS.items() %}
                            <li><a href="{{ url }}">{{ name }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a href="#">暂未获取到相关信息，请重试！</a></li>
                    {% endif %}
                    {% if get_length(PASSAGE_WORK_DISCUSS) >= 10 %}
                        <li><a href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=Mzg5ODYxMTg0NA==&action=getalbum&album_id=3292357952850542592&scene=173&subscene=&sessionid=svr_2018308c7ac&enterid=1706624667&from_msgid=2247484607&from_itemidx=1&count=3&nolastread=1#wechat_redirect">更多原创文章请点击此链接查看</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
